.menu {
  display: flex;
  margin: 10px;
  gap: 10px;
  align-items: center;
}
.select {
  flex: 2;
}
.searchBox {
  flex: 4;
}
.removeButton {
  flex: 1;
}
@media (max-width: 560px) {
  .menu {
    flex-wrap: wrap;
  }
  .select:first-child {
    flex: 2;
  }
  .select:last-child {
    flex: 2;
  }
  .removeButton {
    flex: 1;
  }
  .searchBox {
    flex-basis: 90%;
  }
}
@media (max-width: 420px) {
  .searchBox {
    flex-basis: 70%;
  }
}
